# Data & runtime outputs
results/
inputs/*
!inputs/README.md
ref/*
!ref/README.md
multiqc_report.html
*.html

# Common genomics binaries (belt & braces)
*.fastq
*.fastq.gz
*.fq.gz
*.fa
*.fa.gz
*.fasta
*.fasta.gz
*.fai
*.dict
*.bam
*.bai
*.bcf
*.csi
*.tbi
*.vcf
*.vcf.gz
*.idx
*.vcf.gz.tbi

# === logs / scratch ===
*.log
*.err
*.tmp
*.part

# OS / Python
__pycache__/
*.pyc
.DS_Store